/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { 
  box-sizing: border-box; 
  color: #666;
}

body { 
  font-family: 'Open Sans', sans-serif;
}

.main {
  padding: 5px;
  min-width: 730px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}

header {
  width: 100%;
  padding: 20px;
  border: solid 1px grey;
  font-size: 3em;
}

.column-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 5px 0;
  padding: 20px;
  /* border: solid 1px maroon; */
  max-width: 960px;
}

.outer-column {
  /* flex: 1; */
  /* border: 1px solid pink; */
  padding: 10px;
  min-width: 0px
	/* &:first-child { margin-left: 0; }
	&:last-child { margin-right: 0; } */
}

.main-column {
  text-align: center;
  /* border: 1px solid yellow; */
  margin: 5px;
  padding: 10px;
  width: 800px;
}

input.search-bar {
  width: 100%;
  height: 50px;
  font-size: 1.75em;
  font-family: 'Open Sans', sans-serif;
  text-indent: 40px;
  border: 1px solid lightgray;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-y: 5px;
}

.content-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid lightgray;
}

.input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  /* border: 1px solid red; */
  margin-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  width: 100%;
}

#spacer-category {
  color: darkgray;
}

.display {
  text-align: center;
  margin: auto;
  width: 50%;
  height: 22px;
  border: 1px dotted gold;
  background: lightyellow;
  opacity: 0;
  padding: 2px;
}

input.user-input-title, input.user-input-desc, select, button.add-text-btn {
  height: 30px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid;
}

.category-row {
  text-align: center;
  border: solid 1px lightgray;
  padding: 20px;
}

.category-container, .category-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
  /* border: 1px solid red; */
  width: 590px;
}

.title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid green;
  width: 100%;
  padding: 10px;
  margin: 10px;
}

div#title {
  margin: 10px;
  text-align: center;
  width: 92%;
  border: 1px solid blue;
}

div#close {
  flex: 0;
  width: 8%;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid green;
}

.category-item-options {
  border: 1px solid slateblue;
  width: 150px;
  height: 150px;
}

.category-item #close-button:hover {
  opacity: 1;
}

.category-item #close-button {
  border: 1px solid green;
  text-align: center;
  margin-left: auto;
  height: 20px;
  width: 20px;
  line-height: 20px;
  opacity: 0;
}

.add-category-item {
  order: 1;
  border: dotted 1.2px;
  background: lightgray;
  opacity: .75;
  font-size: 2em;
}

.category-item {
  border: solid 1.5px grey;
  background: lightgrey;
  opacity: .75;
}

.category-item:hover, .add-category-item:hover {
  background: lightcyan;
  cursor: pointer;
}

.category-item, .add-category-item {
  width: 150px;
  height: 150px;
  margin: 15px;
  text-align: center;
  line-height: 100px;
  color: black;
}

.item-list {
  display: flex;
  flex-flow: column nowrap;
  /* text-align: center; */
  margin: 10px;
  padding: 10px;
  border: 1px solid orange;
  width: 100%;
}

.item {
  padding-left: 20px;
  text-align: left;
  margin: 2px;
  border: 1px solid;
  width: 100%;
}

footer {
  text-align: right;
  padding: 10px;
  font-size: 1em;
  /* border: 1px solid gray; */
}


/* @media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
} */