/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* { 
  box-sizing: border-box; 
  /* color: #666; */
}

body { 
  font-family: 'Open Sans', sans-serif;
  background-color: #FFF8EB;
}

.main {
  /* padding: 5px; */
  width: 960px;
  /* max-width: 960px;
  width: 95%; */
  margin: 0px auto;
}

header {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px;
  border: solid 0px black;
  font-size: 3em;
  text-indent: 40px;
  background-color: #c53e3e;
  color: black;
  font-weight: 100;
  text-align: left;
}

/*
Section Between Header and Footer
*/
.column-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0;
  padding: 20px 20px 0 20px;
  border: solid 0px black;
  max-width: 960px;
  background-color: #A39F96;
}

/*
Left and right border Columns
*/
.outer-column {
  flex: 1;
  /* border: 1px solid red; */
  padding: 10px;
  min-width: 0px;
	/* &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; } */
}

/*
Main Content Column
*/
.main-column {
  text-align: center;
  border-style: none solid;
  border-color: black;
  border-width: 0px;
  margin: auto;
  padding: 10px 0 10px 0;
  width: 90%;
  background-color: #A39F96;
}

/*
Search Row
*/
.search-row {
  margin: 0px;
  padding: 0px
}

/*
Search Field
*/
input.search-bar {
  width: 90%;
  height: 50px;
  font-size: 1.75em;
  font-family: 'Open Sans', sans-serif;
  text-indent: 40px;
  border: 0px solid black;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-y: 5px;
  background-color: #EDE6E3;
  color: #424141;
}

/*
Row Under Search and Above Category Container
This row contains both Input Row and Input Display (Added to Local Storage)
*/
.content-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* padding-bottom: 10px; */
  /* margin: 0; */
  /* border-style: solid none;
  border-width: 1px;
  border-color: black; */
}

/*
Input New Item Row
*/
.input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-style: solid;
  border-color: black;
  border-width: 0px;
  margin: auto;
  /* margin-bottom: 5px; */
  padding: 20px 5px;
  width: 90%;
  background: #8A867F;
}

/*
Added To Local Storage Display
*/
.display {
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px; 
  width: 50%;
  height: 22px;
  border: 1px dotted gold;
  background: lightyellow;
  opacity: 0;
  padding: 2px;
}

/*
Input Boxes (Item Name, Description, Category Dropdown, Add)
*/
input.user-input-title, input.user-input-desc, select, button.add-text-btn {
  height: 40px;
  width: 160px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 0px solid black;
  color: #424141;
  background-color: #EDE6E3;
}

/* button.add-text-btn {
  margin: 5px;
  height: 30px;
  width: 80px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border: 0px solid black;
  color: #424141;
  background-color: #EDE6E3;
} */

/*
Section below Input boxes and above Footer
This is where the category container (i.e Books/Recipes/Movies) and
the category details (i.e items within categories) live
*/
.category-row {
  text-align: center;
}

/*
Style for category container (List of all categories)
*/
.category-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: auto;
  padding: 10px 0px 10px 11%;
  border: 0px solid black;
  width: 90%;
  background-color: #8A867F;
}

/*
Style for category details (items within categories)
*/
.category-details {
  display: flex;
  flex-flow: row wrap;
  /* justify-content: flex-start; */
  margin: auto;
  /* padding: 10px 0px 10px 40px; */
  border: 0px solid black;
  width: 90%;
  background-color: #8A867F;
}

/*
STYLE FOR HOVER OVER OPTIONS EDIT/DELETE
*/

/*
Title/header for Category Box
*/
/* .title {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 1px solid green;
  width: 100%;
  padding: 10px;
  margin: 10px;
} */

/* .category-item-options {
  border: 1px solid slateblue;
  width: 150px;
  height: 150px;
}

.category-item #close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.category-item #close-button {
  border: 1px solid green;
  text-align: center;
  margin-left: auto;
  height: 20px;
  width: 20px;
  line-height: 20px;
  opacity: 0;
} */

/*
Hover style for category items
*/
.category-item:hover, .add-category-item:hover {
  background: #c43c3c;
  cursor: pointer;
}

/*
Style for category items
*/
.category-item, .add-category-item {
  width: 150px;
  height: 150px;
  margin: 15px;
  text-align: center;
  line-height: 150px;
  color: #1e1c1c;
}

/*
Specific style for add new category button
*/
.add-category-item {
  order: 1;
  border: dotted 0px;
  background: #7a7a7a;
  opacity: .75;
  font-size: 2em;
}

/*
Specific style for each category
*/
.category-item {
  border: solid 0px black;
  background: rgba(163, 160, 163, 0.623);
  opacity: .75;
}

/*
Header title for category details section (i.e Books)
*/
div#title {
  margin: 10px 9px 10px 10px;
  text-align: center;
  width: 90%;
  padding: 10px;
  border: 1px solid black;
  font-size: 2em;
}

/*
Close button for category details section
*/
div#close {
  text-align: center;
  margin: 10px;
  padding: 5px;
  height: 100%;
  border: 1px solid black;
  cursor: pointer;
}

/*
Row of items within category details
*/
.item-list {
  display: flex;
  flex-flow: column nowrap;
  /* text-align: center; */
  margin: 10px;
  padding: 10px;
  border: 1px solid orange;
  width: 100%;
}

/*
Individual item row in category details
*/
.item {
  padding-left: 20px;
  text-align: left;
  margin: 2px;
  border: 1px solid green;
  width: 100%;
}

footer {
  text-align: right;
  padding: 30px;
  font-size: 1em;
  border: 0px solid black;
  background-color: #A39F96;
  color: black;
  text-align: left;
}


/* @media screen and (max-width: 980px) {
  .columns .column {
		margin-bottom: 5px;
    flex-basis: 40%;
		&:nth-last-child(2) {
			margin-right: 0;
		}
		&:last-child {
			flex-basis: 100%;
			margin: 0;
		}
	}
}

@media screen and (max-width: 680px) {
	.columns .column {
		flex-basis: 100%;
		margin: 0 0 5px 0;
	}
} */