/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Styling Starts Here*/
* { 
  box-sizing: border-box; 
}

body { 
  font-family: 'Inconsolata', monospace;
  background-color: #A39F96;
}

.main {
  width: 960px;
  margin: auto;
}

header {
  width: 100%;
  margin: 20px 0 2px 0;
  padding: 10px;
  border: solid 1px black;
  font-size: 3em;
  text-indent: 40px;
  background-color: #c53e3e;
  color: rgb(31, 26, 26);
  font-weight: 100;
  text-align: left;
  box-shadow: 1px 1px #1e1c1c;
}

/*
Section Between Header and Footer
Holds everything from borders, search row, content window, etc. 
include .main-column
*/
.column-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: auto;
  padding: 20px 20px 0 20px;
  border-width: 0px;
  border-color: black;
  border-style: none solid solid;
  max-width: 960px;
  background-color: #A39F96;
}

/*Left and right border Columns*/
.outer-column {
  flex: 1;
  /* border: 1px solid red; */
  padding: 10px;
  min-width: 0px;
}

/*
Main Content Column
Holds everything but the borders -- Search row and content.
Embedded in .column-section between the .outer-columns
*/
.main-column {
  text-align: center;
  border-style: none solid;
  border-color: black;
  border-width: 0px;
  margin: auto;
  padding: 10px 0 10px 0;
  width: 100%;
  background-color: #A39F96;
}

/*Top row of the .main-column. Row to hold the search bar*/
.search-row {
  margin: 0px;
  padding: 0px
}

/*The actual search field*/
input.search-bar {
  width: 90%;
  height: 50px;
  font-size: 1.75em;
  font-family: 'Inconsolata', monospace;
  text-indent: 40px;
  border: 1px solid black;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position-y: 5px;
  background-color: #EDE6E3;
  color: #424141;
  box-shadow: 1px 1px #1e1c1c;
}

/*
Row Under Search and Above Category Container
This row contains both Input Row and Input Display (Added to Local Storage)
*/
.content-row {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  /* padding-bottom: 10px; */
  /* margin: 0; */
  /* border-style: solid none;
  border-width: 1px;
  border-color: black; */
}

/*Input New Item Row -- Holds the input fields*/
.input {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  border-style: solid;
  border-color: black;
  border-width: 1px 1px 1px 1px;
  margin: 10px auto 0;
  padding: 20px 5px;
  width: 90%;
  background: #8A867F;
  box-shadow: 1px 0px #1e1c1c;;
}

/*Added To Local Storage Display -- Displays below the input row*/
.display {
  text-align: center;
  margin: auto;
  margin-bottom: 40px; 
  width: 50%;
  height: 22px;
  border: 1px dotted gold;
  background: lightyellow;
  opacity: 0;
  padding: 2px;
}
 
/*Input Fields (Item Name, Description)*/
input.user-input-title, input.user-input-desc {
  height: 40px;
  width: 160px;
  text-align: left;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  color: #424141;
  background-color: #EDE6E3;
  box-shadow: 1px 1px #1e1c1c;
  text-indent: 10px;
}

/*Category Dropdown Box*/
select:hover {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;  /* remove default arrow */
  background: #EDE6E3 url(images/down-hover.png) no-repeat;
  background-size: 10px;
  overflow: hidden;
  background-position: 96% 60%;
  padding-right: 15px;
  cursor: pointer;
}
select {
  height: 40px;
  width: 160px;
  text-align: center;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  color: #424141;
  box-shadow: 1px 1px #1e1c1c;
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;  /* remove default arrow */
  background: #EDE6E3 url(images/down.png) no-repeat;
  background-size: 10px;
  overflow: hidden;
  background-position: 96% 60%;
  padding-right: 15px;
}

/*Input Field Add Button*/
button.add-text-btn:hover {
  background-color: #c43c3c;
  cursor: pointer;
  box-shadow: 4px 5px 1px;
}

button.add-text-btn {
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  color: #1e1c1c;
  background-color: rgb(238, 214, 204);
  box-shadow: 1px 1px #1e1c1c;
}

/*
Section below Input boxes and above Footer
This is the wrapper for category container (i.e Books/Recipes/Movies) and
the category details (i.e items within categories)
*/
.category-row {
  text-align: center;
}

/*Style for category container (List of all categories)*/
.category-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: -1px auto;
  padding: 10px 130px 10px 115px;
  width: 90%;
  background-color: #8A867F;
  box-shadow: 1px 1px #1e1c1c;
  border-width: 1px 1px 1px 1px; 
  border-style: solid; 
  border-color: rgb(34, 32, 32);
}

/*Style for category details (Breakdown of items in a category)*/
.category-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin: -2px auto;
  padding: 30px;
  width: 90%;
  background-color: #8A867F;
  box-shadow: 1px 1px #1e1c1c;
  border-width: 0px 1px 1px 1px; 
  border-style: solid; 
  border-color: rgb(34, 32, 32);
}

/* Style for category boxes */
.category-item:hover, .add-category-item:hover {
  background: #c43c3c;
  cursor: pointer;
  box-shadow: 4px 5px 1px;
  outline-color: #351212;
}

button.category-item, button.add-category-item {
  width: 150px;
  height: 150px;
  margin: 15px;
  font-size: 1.15em;
  text-align: center;
  color: #080101;
  box-shadow: 1.5px 1.5px;
  font-family: 'Inconsolata', monospace;
}

/* Style for add new category button */
.add-category-item:hover {
  opacity: 1;
}

button.add-category-item {
  order: 1;
  background: #7a7a7a;
  opacity: .7;
  font-size: 2.5em;
  text-align: center;
  border: 1px dashed rgb(34, 30, 30);
}

/* Specific style for each category */
button.category-item {
  background: rgba(163, 160, 163, 0.623);
  border: 1px solid rgb(14, 10, 10);
}

/* Header title for category details section (i.e Books) */
div#title {
  margin: auto;
  text-align: center;
  width: 90%;
  padding: 10px;
  border: 1px solid black;
  font-size: 2em;
  color: rgb(31, 26, 26);
  background: #c43c3c;
  box-shadow: 1px 1px #1e1c1c;
}

/* Close/Back button for category details section */
button#close:hover {
  background: #884343;
  cursor: pointer;
  box-shadow: 4px 5px 1px;
  outline-color: #351212;
}

button#close {
  text-align: center;
  margin: 0px 0px 10px 10px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
  background: #884343;
  box-shadow: 1px 1px #1e1c1c;
}

/* Wrapped that holds the list of items */
.item-list {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 0px solid orange;
  width: 100%;
}

/* Individual item row in category details */
.item:hover {
  background: #884343;
  box-shadow: 4px 5px 1px;
  outline-color: #351212;
  cursor: default;
}

.item#corgi:hover {
  background: url("https://media.giphy.com/media/YtPdK4YyUzBhC/giphy.gif");
}

.item {
  display: grid;
  grid-template-columns: [name] 160px [description] auto [settings] 90px;
  grid-template-areas: name description settings;
  padding: 15px 0px;
  margin: 5px;
  border: 1px solid black;
  box-shadow: 1px 1px #1e1c1c;
  width: 100%;
  background-color: rgba(163, 160, 163, 0.623);
}

.name {
  grid-area: name;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
  margin-left: 30px;
  border: 0px solid red;
}

/*Item Description*/
.description {
  grid-area: description;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  text-align: left;
  margin: 0px 10px 0px 50px;
  border: 0px solid purple;
}

/*Edit button on item row*/
.settings:hover {
  cursor: pointer;
}

.settings {
  grid-area: settings;
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  text-align: right;
  margin-right: 20px;
  border: 0px solid black;
}

.fa-pen:hover, .fa-trash-alt:hover, .fa-times:hover {
  color: #000000;
}

.fa-pen {
  color: #3b2727;
}

.fa-trash-alt {
  color: #3b2727;
  /* margin: 0px 10px 0px 10px; */
  border: 0px solid black;
}

.fa-times {
  color: #3b2727;
}

input.edit-name {
  width: 160px;
  text-align: left;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  color: #424141;
  background-color: #EDE6E3;
  box-shadow: 1px 1px #1e1c1c;
  text-indent: 10px;
}

input.edit-desc {
  width: 200px;
  margin: 0px;
  text-align: center;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  color: #424141;
  background-color: #EDE6E3;
  box-shadow: 1px 1px #1e1c1c;
}

button.edit-confirm:hover {
  background-color: #9fc07a;
  cursor: pointer;
  box-shadow: 4px 5px 1px;
}

button.edit-confirm {
  margin-left: 20px;
  margin-right: 10px;
  height: auto;
  /* width: 100px; */
  text-align: center;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  color: #1e1c1c;
  background-color: rgb(238, 214, 204);
  box-shadow: 1px 1px #1e1c1c;
}

button.edit-cancel:hover {
  background-color: #e04141;
  cursor: pointer;
  box-shadow: 4px 5px 1px;
}

button.edit-cancel {
  height: auto;
  /* width: 100px; */
  text-align: center;
  font-size: 1em;
  font-family: 'Inconsolata', monospace;
  border: 1px solid black;
  color: #1e1c1c;
  background-color: rgb(238, 214, 204);
  box-shadow: 1px 1px #1e1c1c;
}



/* Style when item list is empty*/
.item-holder {
  text-align: center;
  border: 0px solid black;
  padding: 20px 20px 0px 20px;
  width: 100%
}

/* Footer style */
footer {
  width: 960px;
  margin: auto;
  padding: 6px;
  border: solid 1px black;
  background-color: #928080;
  color: rgb(31, 26, 26);
  text-align: right;
  box-shadow: 1px 1px #1e1c1c;
  font-size: .9em;
}

footer a:hover {
  color: rgb(134, 37, 37);
}

footer a {
  color: rgb(31, 26, 26);
  text-decoration: none;
}